.navbar-container {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;

    .navbar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, 0.5); // Transparent black
        color: white;
        z-index: 4;

        .navbar-logo{
            height: 100%;
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                gap: 10px;

                span{
                    font-weight: 700;
                }

                &:hover{
                    color: #3f69ff;
                }
            }
            
            .logo-img{
                width: 40px;
                height: 40px;
                margin-left: 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        .navbar-links{
            display: flex;
            height: 100%;
            align-items: center;
            gap: 20px;

            a{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    color: rgb(174, 174, 174);
                }
            }
        }

        

        .navbar-menu{
            display: flex;
            gap: 10px;
            padding-right: 10px;
            justify-content: end;
            height: 100%;

            .links-icons{
                width: 100%;
                display: flex;
                justify-content: space-between;
                height: 100%;
                align-items: center;
                gap: 10px;

                a{
                    color: white;
                    width: 100%;
                    border: solid 1px rgb(187, 187, 187);
                    height: 30px;
                    width: 30px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    svg{
                        width: 15px;
                        height: 15px;
                    }

                    &:hover{
                        background-color: rgba(187, 187, 187, 0.567);
                    }
                }
            }

            .navbar-menu-separator{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                div{
                    width: 3px;
                    height: 50%;
                    background-color: rgb(82, 82, 82);
                    border-radius: 50px;
                }

            }

            .navbar-menu-buttons{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                align-items: center;
                gap: 10px;

                button{
                    width: 30px;
                    font-size: 12px;
                    text-align: center;
                    height: 30px;
                    background: transparent;
                    border: solid 1px rgb(187, 187, 187);
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(187, 187, 187, 0.567);
                    }

                    svg{
                        width: 15px;
                        height: 15px;
                        color: white;
                    }
                }
            }
        }
    }
}